*.sh linguist-language=Rust
*.html linguist-language=Rust
*.scss linguist-language=Rust
*.md linguist-language=Rust
*.svg linguist-language=Python
*.png linguist-language=Python
*.toml linguist-language=Python