@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "scientifica";
  src: url("../public/assets/scientifica.ttf");
}
.scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
}

bod {
    background: black;
    padding: 0;
    margin: 0;
    line-height: 1.1;
    letter-spacing: 0em;
}
