@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "scientifica";
  src: url("../assets/scientifica.ttf");
}

bod {
    background: black;
    padding: 0;
    margin: 0;
    line-height: 1.1;
    letter-spacing: 0em;
}