@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@font-face {
  font-family: "scientifica";
  src: url("../public/assets/scientifica.ttf");
}


* {
  font-family: 'Fira Code', monospace;
}

body {
    background: #f4f5f6;
    padding: 0;
    margin: 0;
    line-height: 1.1;
    letter-spacing: 0em;
}
